{
  "presets": [
    "flow",
    [
      "babel-preset-env",
      {
        "loose": true,
        "uglify": true,
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "last 3 versions", "IE >= 9"]
        },
        "exclude": ["transform-regenerator", "transform-es2015-typeof-symbol"]
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "flow-runtime",
    "transform-decorators-legacy",
    "react-hot-loader/babel",
    "babel-plugin-transform-react-jsx",
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
  ]
}
